.about {
  padding: 80px 0 119px;
}

.about__main {
  display: flex;
  gap: 73px;
}

.about__main-content {
  padding-top: 93px;
}

.about__content-title {
  display: flex;
  gap: 23px;
  align-items: center;
  margin-bottom: 42px;
}

.about__content-number {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 120px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color2);
}

.about__content-text {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #111214;

}

.about__subtitle {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.about__text {
  max-width: 558px;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--color1);
  margin-bottom: 29px;
}

.about__text-first {
  margin-bottom: 14px;
}

.about__date {
  display: flex;
  gap: 64px;

}

.about__date-con {
  display: flex;
  align-items: center;
  gap: 12px;
}

.about__date-number {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color2);
}

.about__date-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #111214;
}
@media (max-width: 992px) {
  .about {
    padding-top: 0;
  }

  .about__main {
    flex-direction: column;
    gap: 40px;
  }

  .about__img {
    display: flex;
    margin: 0 auto;
    max-width: 380px;
  }

  .about__main-content {
    padding: 0 16px;
  }

  .about__content-title {
    margin-bottom: 20px;
  }

  .about__text {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .about__content-number {
    font-size: 64px;
    line-height: 96px;
  }

  .about__content-text {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0;
  }

  .skills__top-group {
    margin-bottom: 24px;
  }

  .about__text {
    font-size: 12px;
    letter-spacing: -0.02em;
    max-width: 100%;
  }
}
@media (max-width: 375px) {
  .about__img {
    padding-top: 80px;
  }

  .about__content-title {
    margin-bottom: 56px;
  }

  .about__subtitle {
    position: relative;
    margin-bottom: 32px;
  }

  .about__subtitle:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #F2F3F4;
    top: -30%;
    left: 0;
  }

  .about__text {
    margin-bottom: 12px;
  }

  .about__text-first {
    margin-bottom: 16px;
  }

  .about__date {
    gap: 23px;
  }
}
