/*Line*/
.information__content {
  display: flex;
  position: relative;
  padding-bottom: 85px;
  border-left: 1px solid #F2F3F4;
}

.information__content::before {
  content: '';
  position: absolute;
  right: 0;
  left: 25.5%;
  bottom: 0;
  top: 0;
  border-right: 1px solid #F2F3F4;
  border-left: 1px solid #F2F3F4;
}

.information__content::after {
  content: '';
  position: absolute;
  right: 23.5%;
  left: 51%;
  bottom: 0;
  top: 0;
  border-right: 1px solid #F2F3F4;
  border-left: 1px solid #F2F3F4
}

.content__first {
  position: relative;
  z-index: 3;
  display: flex;
}

/*line*/
.content__left-item {
  padding-top: 90px;
  padding-right: 61px;
}

.content__left-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.content__left-img {
  margin-bottom: 30px;
  margin-left: -1px;
}

.content__left-text {
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.04em;
  line-height: 20px;
  color: #111214;
}

.content__left-number {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.02em;
  color: var(--color2);
}

.content__right-item {
  padding-top: 126px;
  padding-right: 64px;
}

.content__right-description {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;
}

.content__right-number {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.02em;
  color: var(--color2);
}

.content__right-text {
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  letter-spacing: -0.04em;
  line-height: 20px;
  color: #111214;
}

.content__second {
  position: relative;
  z-index: 3;
  padding-top: 127px;
}

.content__second-title {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: -10px;
}

.content__second-number {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 0.02em;
  line-height: 120px;
  color: var(--color2);
}

.content__second-h2 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #111214;
}

.content__second-description {
  margin-left: 93px;
  max-width: 429px;
}

.text__first {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color1);
  line-height: 32px;
  margin-bottom: 14px;
}

.text__second {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--color1)
}
@media (max-width: 992px) {
  .information__content {
    flex-direction: column;
  }

  .content__first {
    justify-content: space-between;
    padding: 15px;
  }

  .content__right-item {
    padding-right: 0;
  }

  .content__second-description {
    max-width: 100%;
    font-size: 12px;
  }

  .about__text {
    max-width: 100%;
  }

  .about__date {
    justify-content: center;
  }

  .information__content::before {
    border-left: none;
  }

  .information__content::after {
    border-right: none;
  }
}
@media (max-width: 650px) {
  .information__content {
    padding-bottom: 48px;
  }
  .content__first {
    flex-direction: column;
    padding: 0;
  }
  .content__right-number {
    line-height: 88px;
  }

  .content__left-item {
    padding-right: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 43px;
  }

  .content__right-img {
    margin-left: -1px;
  }

  .content__right-item {
    padding-top: 44px;
  }
  .content__right-description {
    margin-bottom: 33px;
  }

  .content__second {
    padding-top: 66px;
  }
  .content__second-h2 {
    font-size: 32px;
    line-height: 48px;
    margin-top: -16px;
  }
  .text__first,
  .text__second {
    font-size: 12px;
  }
  .information__content:after {
    left: 50%;
  }
  .content__second-description {
    margin-left: 77px;
  }
  .information__content::after {
    display: none;
  }
}
@media (max-width: 424px) {
  .content__second-title {
    gap: 19px;
    margin-bottom: -9px;
  }

  .text__first {
    margin-bottom: 16px;
  }

  .content__second-number {
    font-size: 64px;
    line-height: 96px;
  }

  .content__right-item {
    justify-content: start;
  }

  .text__first,
  .text__second {
    font-size: 12px;
  }

  .content__second-description {
    margin-left: 76px;
    display: inline-block;
    margin-top: -7px;

  }
}