.map__top {
  display: flex;
  gap: 11px;
  align-items: center;
  margin-bottom: 29px;
}

.map__top-number {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 120px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color2);
}

.map__title {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #111214;
}

.map__body {
  margin-bottom: 74px;
}
@media (max-width: 767px) {
  iframe {
    width: 100%;
    height: 385px;
  }

  .map__top-number {
    font-size: 64px;
    line-height: 96px;
  }

  .map__title {
    font-size: 32px;
    line-height: 48px;
  }

  .map__top {
    margin-bottom: 24px;
  }

  .map__body {
    margin-bottom: 77px;
  }
}
@media (max-width: 424px) {
  .map__top {
    gap: 15px;
  }
  .map__title {
    margin-top: 2px;
  }
}