.footer {
  background-color: #0C0C0E;
  text-align: center;
  padding: 30px 0;
  height: 80px;
}

.footer__content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  color: #A9A9AA;
  line-height: 20px;
}

.footer__content span {
  color: #ffffff;
}
@media (max-width: 767px) {
  .footer {
    padding: 30px 0 51px;
  }

  .footer__content {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0;
    margin-top: -1px;
  }
}